services:
  ldap:
    image: osixia/openldap:latest
    
    hostname: "ldap.asd.msd.localhost"
    
    ports:
      - "8389:389"
      - "8636:636"
      
    environment:
      - LDAP_ORGANIZATION=msdAsd
      - LDAP_DOMAIN=ldap.asd.msd.localhost
      - LDAP_ADMIN_PASSWORD=shouldntMatter
      - LDAP_LOG_LEVEL=320
      - LDAP_TLS=false

    command: "--loglevel debug"
      
    networks:
      - public
      - backend

  camera-server:
    image: camera-server:latest
    depends_on:
      - ldap

    ports:
      - "8080:8080"
    hostname: "api.asd.msd.localhos t"

    environment:
      - SECRET=useSomethingBetter

    networks:
      - backend # talk to ldap
      - public # talk to the world

networks:
  public:
    driver: bridge
    
  backend:
    driver: bridge
    internal: true
